<!DOCTYPE html>
<html>

<head>

<title>Waste Classifier AI</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<nav>

<h2>♻ Waste AI</h2>

<div>

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/upload">Predict</a>
<a href="/camera">Camera</a>

</div>

</nav>



<section class="hero">


<div class="particles"></div>



<!-- Floating Waste Animation -->

<div class="floating-waste">

    <span class="waste w1">🧴</span>
    <span class="waste w2">📦</span>
    <span class="waste w3">🥫</span>
    <span class="waste w4">📄</span>
    <span class="waste w5">🍌</span>
    <span class="waste w6">♻️</span>

</div>




<!-- AI Scanner -->

<div class="ai-scanner">

    <div class="scan-box">

        <div class="scan-line"></div>

        <span>
            🤖 AI SCANNING WASTE
        </span>

    </div>

</div>



<h1>
♻ Waste Classifier AI
</h1>


<p>
Smart waste detection using CNN Deep Learning Technology
</p>


<a href="/upload" class="btn">
🚀 Start AI Detection
</a>


</section>





<section class="dashboard">


<div class="stat-card">

<h2>6+</h2>

<p>
Waste Categories
</p>

</div>




<div class="stat-card">

<h2>95%</h2>

<p>
AI Accuracy
</p>

</div>




<div class="stat-card">

<h2>CNN</h2>

<p>
Deep Learning Model
</p>

</div>


</section>






<section class="features">


<h1>
✨ AI Features
</h1>




<div class="feature-container">


<div class="feature-card">

<h2>🤖 CNN Model</h2>

<p>
Deep learning based image classification.
</p>

</div>





<div class="feature-card">

<h2>📷 Image Detection</h2>

<p>
Upload waste images and classify instantly.
</p>

</div>







<div class="feature-card">

<h2>♻ Recycling Guide</h2>

<p>
Get suggestions for proper waste disposal.
</p>

</div>


</div>


</section>



</body>

</html>